{% load i18n %}

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">{% trans "Copyright" %} &copy; M&HA - Ecommerce Sun*</p>
    </div>
    <p></p>>
    <center>
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% for code, name in LANGUAGES %}
                        <option value="{{ code }}"{% if code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ name }} ({{ code }})
                        </option>
                    {% endfor %}
                </select>
            <input type="submit" value="{% trans 'OK' %}" />
        </form>
    </center>
</footer>
