{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
<!-- Header -->
{% include "layouts/header.html" %}

<body>
    <!-- Navigation -->
    {% include "layouts/navigation.html" %}

    <!-- Page Content -->
    &nbsp
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    &nbsp

    <!-- Footer -->
    {% include "layouts/footer.html" %}
    <script src="{% static 'js/filter.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/slick/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slick-custom.js' %}"></script>
</body>
</html>
