{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

<h2>{% trans "Login" %}</h2>
{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        {% trans "Login" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <center><strong class="panel-title" style="color:green; font-size:25px;">{% trans "Welcome to my shop!" %}</strong></center>
                    </div>
                    <div class="panel-body">
                        <center>
                            <form accept-charset="UTF-8" role="form" method="post">
                                {% include "registration/messages.html" %}
                                {% csrf_token %}
                                {{ form|crispy }}
                                <p></p>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="{% trans 'Login' %}">
                            </form>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
