{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{%block content %}
<div class="container">
    <div class="card login-card">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="/static/img/thun5_5.jpg" class="login-card-img">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <div class="brand-wrapper">
                        <img src="/static/img/logo.png" class="logo">
                    </div>
                    {% include "registration/messages.html" %}
                    <div class="form-group">
                        <form method="post" action="{% url 'shop:signup' %}">
                            {% csrf_token %}
                            {% for field in form %}
                                <p class="p-label">{{ field.label_tag }}</p>
                                <p class="p-signup">{{ field }}</p>
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                            <br>
                            <button class="btn btn-block login-btn mb-4">
                                {% trans "Register" %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
